@tailwind base;
@tailwind components;
@tailwind utilities;

.album-display {
  background-color: #121212;
}

.landing-bg {
  background-color: #121212;
}

.landing-join {
  width: 377px;
}

.join-code {
  background-color: transparent;
  border-bottom: 1px solid #6a6a6a;
  width: 231px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.join-btn {
  background-color: #68d570;
  width: 231px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.join-code {
  &::placeholder {
    color: #b9b9b9;
  }

  &:focus {
    outline: none;
  }
}

.host-btn {
  background-color: #ffffff;
  width: 231px;

  @media screen and (min-width: 768px) {
    width: 377px;
  }
}

.dev-btn {
  color: #b9b9b9;
  background-color: transparent;
  border: 1px solid #b9b9b9;
  width: 150px;
  height: 30px;
}

.leave-btn {
  background-color: #68d570;
}

.album {
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 250px;
  }
}

.lobby-info {
  input {
    background-color: #414141;
    padding: 1rem;
    &:focus {
      outline: none;
    }
  }
  .lobby-code-count {
    display: flex;
    width: 100%;
  }
  .lobby-container {
    background-color: #242424;
    padding: 1rem;
    width: 100%;
  }
}

.spotify-btn {
  background-color: white;
  color: black;
  width: fit-content;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25remh;
}