@tailwind base;
@tailwind components;
@tailwind utilities;

.album-display {
  background-color: #121212;
}

.landing-bg {
  background-color: #121212;
}

.landing-join {
  width: 377px;
}

.join-code {
  background-color: transparent;
  border-bottom: 1px solid #6A6A6A;
  width: 231px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.join-btn {
  background-color: #68D570;
  width: 231px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.join-code {
  &::placeholder {
    color: #B9B9B9;
  }
  &:focus {
    outline: none;
  }
}

.host-btn {
  background-color: #FFFFFF;
  width: 231px;
  @media screen and (min-width: 768px) {
    width: 377px;
  }
}

.dev-btn {
  color: #B9B9B9;
  background-color: transparent;
  border: 1px solid #B9B9B9;
  width: 150px;
  height: 30px;
}

.album {
  width: 300px;
  @media screen and (max-width: 768px){
    width: 250px;
  }
}

